.header {
  background-color: $blue-dark-intro;
  &-main {
    background: url(../images/bg-curvy-desktop.svg) no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 75px;
  width: 100%;
  &-logo {
    display: inline-block;
    img {
      width: 176px;
      height: 52px;
    }
  }
  &-menu {
    display: flex;
    gap: 0 50px;
  }
  &-item {
    position: relative;
  }
  &-link {
    color: rgba($white, 0.7);
    font-family: $secondary-font;
    display: inline-block;
    &:hover {
      color: $white;
      border-bottom: 1px solid $white;
      font-weight: 700;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &-image {
    width: 720px;
    height: 534px;
  }
  &-heading {
    margin-top: 50px;
    font-size: 40px;
    line-height: 1.5;
    max-width: 710px;
    padding: 0 15px;
  }
  &-desc {
    margin-top: 50px;
    max-width: 620px;
    font-size: 20px;
    line-height: 1.6;
    opacity: 0.9;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 850px) {
  .nav {
    padding: 30px 20px;
    &-logo {
      img {
        width: calc(176px /2);
        height: calc(52px /2);
      }
    }
    &-menu {
      gap: 0 30px;
    }
  }
  .hero {
    &-image {
      max-width: 80%;
      height: auto;
    }
    &-heading {
      font-size: 26px;
    }
    &-desc {
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 375px){
  .header {
    &-main {
      background: url(../images/bg-curvy-mobile.svg) no-repeat;
      background-position: bottom;
      padding-bottom: 100px;
    }
  }
}
